@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  -webkit-font-smoothing: antialiased; /* 텍스트를 부드럽게 렌더링 */
  -moz-osx-font-smoothing: grayscale; /* macOS 환경에서 그레이스케일 렌더링 */
  text-rendering: optimizeLegibility; /* 글자 선명도 향상 */
}


@font-face {
  font-family: "SejonghospitalLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalLight.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SejonghospitalBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SejonghospitalLight", sans-serif;
  color: #222;
}
.swiper {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

.swiper-slide {
  display: flex;
  background: #fff;
  border: 1px solid #cfcfcf;
  padding: 20px;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  backface-visibility: hidden;
}
.swiper-pagination-bullet-active {
  background: #222;
}
